body {
    background-image: url('bg.jpg');
    background-size: cover;
    font-family: Arial;
    margin: 0;
}

.nav {
    background-color: navy;
    padding: 10px;
}

.nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.main {
    background-color: none;
    padding: 15px;
    margin: 15px;
    color: white;
}
#Gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 images per row */
    gap: 10px; 
    width: 100%;
}

#Gallery .Images {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.footer {
    position: fixed;
    bottom: 20px;
    width :100%;
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
}